.container {
  width: 600px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 2px #bebebe;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  margin: 16px;
  text-align: center;
}

ul {
  text-align: left;
}

.input {
  width: 300px;
  height: 30px;
  border-radius: 0;
  border: 1px solid #3182bd;
  margin-right: 8px;
}

.btn {
  border-radius: 0;
  border: 0;
  height: 30px;
  background-color: #3182bd;
  color: #fff;
}
